.login-form {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #570000;
    border-radius: 10px;
    box-shadow: #280000;
    font-family: 'Futura';
    font-size: calc(10px + 1vmin);
  }

  .login-form label,
  .login-form input {
    margin-bottom: 10px;
    display: block;
  }

  .login-form .input-group {
    margin-bottom: 10px; /* Space between input groups */
  }

  .login-form button {
    margin-top: 10px;
    background-color: #DE7C5A;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Futura';
    font-size: calc(10px + 1vmin);
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }