# Set the environment to either 'development' or 'production'
APP_ENV=production

ADMIN_PASSWORD='password'

BACKEND_IMAGE_NAME=socialpredict-backend
BACKEND_CONTAINER_NAME=socialpredict-backend-container
BACKEND_PORT=8080 # Internal
BACKEND_HOSTPORT=8080 # External

POSTGRES_CONTAINER_NAME=socialpredict-postgres-container
DB_HOST=db
DB_PORT=5433
POSTGRES_PORT=5432
POSTGRES_USER='user'
POSTGRES_PASSWORD='password'
POSTGRES_DATABASE='socialpredict_db'

# Domain name you wish to use
DOMAIN='example.com'
# Valid email address to use with Let's Encrypt Service
EMAIL='user@example.com'
# Set to 1 if you wish to use the staging option for Let's Encrypt
STAGING=0
