/* Navigational Buttons */

.nav-link {
    color: #0066cc;
    font-size: calc(10px + 1vmin);
    padding: 5px 10px;
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    border-radius: 1px;
}

.nav-link:hover {
    color: white;
    background-color: #DE7C5A;
    display: flex;
    align-items: stretch;
}

/* BET Buttons... YES / NO */

.bet-decision-buttons {
    display: flex;
    justify-content: space-around; /* Space the buttons evenly */
    padding: 20px;
}

.bet-decision-button {
    width: 49%; /* Set width to almost half of the container width */
    padding: 10px 20px;
    border-radius: 10px; /* Rounded corners */
    color: white;
    font-size: 1em;
    cursor: pointer; /* Change cursor to indicate it's clickable */
    border: none; /* Remove default border */
    outline: none; /* Remove outline to improve aesthetics */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin: 0 2.5%; /* Add margin for spacing between buttons */
}

.bet-yes-button {
    background-color: #006400; /* Dark green */
}

.bet-no-button {
    background-color: #8B0000; /* Dark red */
}

.bet-decision-button:hover {
    filter: brightness(1.2); /* Highlight on hover */
}

.bet-modal h4 {
    margin: 20px 0; /* Adjust as needed */
    font-size: 1em; /* Keeping font size consistent */
    /* other styles */
}


/* Input AND Confirmation Buttons */

.bet-input {
    width: 80%; /* Full width */
    padding: 15px; /* Larger padding */
    margin: 18px 0; /* Margin for spacing */
    font-size: 1em;
    background-color: white;
    border: 5px solid #ccc; /* Default border color */
    border-radius: 5px; /* Rounded corners */
}

.confirm-button {
    /* Similar styles as .decision-button */
    width: 80%;
    padding: 10px 20px;
    margin: 20px 0;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.confirm-button.YES-button {
    background-color: #006400; /* Dark green for YES */
}

.confirm-button.NO-button {
    background-color: #8B0000; /* Dark red for NO */
}

.confirm-button:hover {
    filter: brightness(1.2);
}

.cancel-button {
    /* Similar styles as .decision-button */
    width: 80%;
    padding: 10px 20px;
    margin: 20px 0;
    color: rgb(0, 0, 0);
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}


/* RESOLVE BUTTONS */

/* MAIN RESOLVE SMALL BUTTON */

.resolve-button {
    display: flex;
    bottom: 20px;
    right: 20px;
    background-color: grey;
    border-radius: 3px; /* Rounded corners */
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    cursor: pointer;
}

.resolve-button:hover {
    color: white;
    background-color: #DE7C5A;
}

/* RESOLVE POP UP */

.resolve-modal {
    padding: 20px;
    border-radius: 10px;
}

.resolve-modal .resolve-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; /* Space above the confirm button */
}

.resolve-modal .resolve-decision-button {
    background-color: #333;
    border-radius: 10px;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 0.8em;
    flex-grow: 1; /* Allow buttons to grow and fill the container */
    margin: 20px 10px; /* Space between buttons */
    width: 80%;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}


.resolve-modal .yes-selected {
    background-color: #006400;
}

.resolve-modal .no-selected {
    background-color: #8B0000;
}

.resolve-modal .na-selected {
    background-color: #dcd100; /* Green color */
}

.resolve-modal .percent-selected {
    background-color: #0049dc; /* Green color */
}


.resolve-modal .percent-resolution-input {
    padding: 5px;
    font-size: 0.8em;
    flex-grow: 1; /* Allow input to grow */
    margin: 0 5px; /* Space around the input */
    width: 30%; /* Adjust width as needed */
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 0 2.5%;
    text-align: center;
}

.resolve-modal .percent-input {
    border-color: blue; /* Color when selected */
}

.resolve-modal .resolve-confirm-button {
    background-color: #333; /* Darker grey */
    width: 100%; /* Full width within the modal */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 1em; /* Adjust font size as needed */
    margin-top: 20px; /* Space above the button */
    width: 80%;
    padding: 10px 20px;
    margin: 20px 0;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

/* Bottom Modal Bottom */

.modal {
    /* Basic modal styling */
}
.modal-tabs button {
    /* Styling for tab buttons */
}
.modal-content {
    /* Styling for the content area of the modal */
}

/* BETs Display at Bottom */

.bets-display {
    max-height: 300px;
    overflow-y: auto;
}

