.navbar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #570000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #280000;
    font-family: 'Futura';
    font-size: calc(10px + 1vmin);
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: stretch;
    text-align: left; /* Center the text */
  }

  .nav-link {
    color: white;
    text-decoration: none;
    font-size: calc(10px + 1vmin);
    padding: 5px 10px;
    border-radius: 3px;
  }

  .nav-link-callout {
    color: black;
    background-color: #00ffff;
    display: flex; /* Grow to fill the available space */
    align-items: stretch;
    flex-grow: 1;
  }

  .nav-link:hover {
    color: white;
    background-color: #DE7C5A;
  }
