services:

  webserver:
    container_name: "${NGINX_CONTAINER_NAME}"
    image: nginx:latest
    environment:
      ENVIRONMENT: ${APP_ENV}
      DOMAIN: ${DOMAIN}
      BACKEND_PORT: ${BACKEND_PORT}
      FRONTEND_PORT: ${REACT_PORT}
    ports:
      - 80:80
      - 443:443
    volumes:
      - ../data/nginx/ssl_vhosts:/etc/nginx/templates/
      - ../data/certbot/conf:/etc/letsencrypt
      - ../data/certbot/www:/var/www/certbot
    restart: always

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ../data/certbot/conf:/etc/letsencrypt
      - ../data/certbot/www:/var/www/certbot
