/* Styles specific to the create form */
.create-form {
    background-color: #f5f5f5;
    color: #570000;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #280000;
    margin: auto;
    max-width: 500px;
    text-align: center;
}

.create-form div {
    margin-bottom: 10px;
}

.create-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.create-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Error message style */
.error-message {
    color: red;
    margin: 10px 0;
}

/* Submit button style */
.create-form button {
    background-color: #570000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: calc(10px + 1vmin);
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-form button:hover {
    background-color: #DE7C5A;
}

.create-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    resize: vertical; /* Allow vertical resizing */
    min-height: 100px; /* Initial minimum height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}