server {
	gzip on;
	gzip_min_length 1000;
	gunzip on;
	gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

	listen 80;
	server_name ${DOMAIN};
	
	location /api/ {
		proxy_pass http://backend:8080/;
	}

	location / {
		proxy_pass http://frontend:80;
	}
}
