/* About.css */

.left-content {
    text-align: left;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.left-content-header h1 {
    text-align: left;
    font-size: 28px; /* Larger text size for main header */
    padding: 10px 0; /* Top and bottom padding */
}

.left-content p, .left-content ul {
    font-size: 16px; /* Standard text size for paragraphs and lists */
    margin: 10px 0;
}

.left-content ul {
    padding-left: 20px; /* Add padding to list for indentation */
}
